/*--------------------------------------------------------------
# General section
--------------------------------------------------------------*/
section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
section img {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}
section img #star {
    left: -20;
}
#home_text {
    position: absolute;
    top: 30%;
    right: 20%;
    color: #fff;
    font-size: 7vw;
    white-space: nowrap;
    text-shadow: 0 10px 15px rgba(0, 0, 0, 0.25);
    font-family: 'Rancho', cursive;
}
#sub_text {
    position: absolute;
    top: 45%;
    right: 20%;
    color: #fff;
    font-size: 5vw;
    white-space: nowrap;
    text-shadow: 0 10px 15px rgba(0, 0, 0, 0.25);
    font-family: 'Rancho', cursive;
}

@media (max-width: 950px) {
  #cat {
    display: none;
  }
  #home_text {
    font-size: 20vw;
  }
  #sub_text {
    font-size: 7vw;
    margin-right: 10%;
  }
}

/*--------------------------------------------------------------
# Description Section
--------------------------------------------------------------*/
.desc {
    background: linear-gradient(rgba(2, 2, 2, 0.5), rgba(0, 0, 0, 0.8));
    background-size: cover;
    padding: 10px, 0;
    text-align: center;
  }

  .desc h1 { 
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 100px;
    font-weight: 900;
    transform: rotateZ(0deg);
    transition: 1s; }
  
  .desc:hover h1 { 
      color: #fff;
      font-size: 100px;
      font-weight: 900;
      transform: rotateZ(-7deg);
      transition: 1s;
  }
  
  .desc p {
      padding:40px;
      color: #fff;
      font-size: 17px;
  }
  .desc .desc-btn {
    font-family: "Nunito", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display:inline-block;
    padding: 8px 28px;
    border-radius: 25px;
    transition: 0.5s;
    margin-top: 10px;
    border: 2px solid #fff;
    color: #fff;
  }
  
  .desc .desc-btn:hover {
    background: #e43c5c;
    border: 2px solid #e43c5c;
  }
  
  @media (min-width: 800px) {
    .desc {
      background-attachment: fixed;
    }
  }
  /*--------------------------------------------------------------
# Team Section
--------------------------------------------------------------*/
section2 {
    position:relative;
    padding:10px, 0;
    font-family: 'Poppins', sans-serif;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: #161623;
    opacity: 99.5%;
    min-height: 100vh; }
    
    section2::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background:linear-gradient(#f00,#f0f);
    clip-path: circle(20% at right 10%);}

    section2::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background:linear-gradient(#2196f3,#e91e63);
    clip-path: circle(20% at 10% 10%); }
    
    .text-center h2 {
      padding-top: 60px;
      color: #fff;
      font-size: 100px;
      font-weight: 900;
      transform: translateX(0px);
      transition: 1s; }

      .text-center:hover h2 {
          padding-top: 60px;
          color: #fff;
          font-size: 100px;
          font-weight: 900;
          transform: translateX(60px);
          transition: 1s; }

   .container
    {
    position: relative;
    z-index: 1;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px 0; }

    .card {
    position: relative;
    width: 300px;
    height: 400px;
    z-index: 99999;
    background: rgba(255, 255, 255, 0.05);
    margin: 20px;
    box-shadow: 0 15px rgba(0,0,0,0.2);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);}

    .card .content
    {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.5;
    transition: 0.3s; }

    .card:hover .content {
    opacity: 1;
    transform:translateY(-20px); }

    .imgBx {
    position: relative;
    width: 150px;
    height:150px;
    border-radius: 50%;
    overflow: hidden;
    border: 10px solid rgba(0, 0, 0, 0.25);}

    .imgBx img {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;}

    .content8x h3 {
    color:#fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight:500;
    font-size: 17px;
    text-align: center;
    margin: 20px 0 10px;
    line-height: 1.1em;}

    .content8x h3 span {
    font-size: 12px;
    font-weight: 300;
    text-transform: initial;}

    .sci {
    position: absolute;
    bottom: 50px;
    display: flex;}

    .sci li{
    list-style: none;
    margin: 0 10 px;
    transform: translateY(20px);
    transition:0.5s;
    opacity: 0;
    transition-delay: calc(0.2s * var(--i));}

    .card:hover .sci li {
    transform: translateY(0px);
    opacity: 1;
    transform:translateY(-20px);}

    .sci li i{
    color: rgb(255, 255, 255);
    font-size: 18px;
    cursor: pointer;}

    @media (max-width: 800px) {
      #home_text {
        font-size: 15vw;
      }
      #sub_text {
        font-size: 10vw;
      }
      section2::before {
        height: 10%;
      }
      section2::after {
        height: 10%;
      }
      .text-center h1{
        font-size: 50px;
      }
      .text-center:hover h1 {
        font-size: 50px;
      }
  }

  /*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact {
  position: relative;
  box-sizing: border-box;
  padding: 10px, 0;
  font-family: 'Poppins', sans-serif;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.contact h2 {
  color: rgb(255, 255, 255);
  font-size: 100px;
  font-weight: 900;
}

.contact h3{
  color: rgb(255, 253, 253);
  font-size: 20px;
  margin-bottom: 10px;
}

.contact h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 5px;
  color: #ffffff;
}

.contact i {
  font-size: 20px;
  float: left;
  width: 44px;
  height: 44px;
  color: #e43c5c;
  background: #fdeff2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px;
  color: #ffffff;
}

/* Style the container/contact section */

.contact .container {
  border-radius: 1px;
  padding: 20px;
  background: linear-gradient(#760585, #6f1159);
}

.contact .email, .contact .phone {
  margin-top: 40px;
}

.contact .email:hover i, .contact .address:hover i, .contact .phone:hover i {
  background: #e43c5c;
  color: #fff;
}

.contact .php-email-form {
  width: 100%;
}

.contact .form-group {
  padding-bottom: 8px;
}

.contact .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .error-message br + br {
  margin-top: 25px;
}

.contact .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact input, .contact  textarea {
  width:100%;
  box-shadow: none;
  font-size: 14px;
}

.contact input {
  height: 44px;
}

.contact textarea {
  padding: 10px 12px;
}

button[type=submit] {
  border: 0;
  padding: 10px 28px;
  color: #e43c5c;
  background: #fdeff2;
  transition: 0.4s;
  border-radius: 50px;
  cursor: pointer;
}

button[type=submit]:hover {
  color: #fff;
  background: #e43c5c
}



/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}