.sidebar {
    position: absolute;
    top: 110px;
    width: 15%;
    height: 85%;
    background: #2a3064;
    text-align: center;
}
.sidebar hr {
    width: 90%;
    position: relative;
    margin: 0 10px;
}
.sidebar #title {
    margin: 10px;
    font-size: 1.3em;
    color: white;
}
.sidebar #subject-list {
    display: list-item;
    position: relative;
}
.sidebar #subject-list li .link-text {
    display: inline;
    margin-left: 0;
}
.sidebar #subject-list li {
    background-color: #bf0693;
    list-style: none;
    margin: 10px 10px;
    height: 5vh;
    text-decoration: none;
}
.sidebar #subject-list li i {
    width: 25px;
}
.sidebar #subject-list li a {
    position: relative;
    color: white;
    top: 10px;
    bottom: 10px;
    text-decoration: none;
}
.sidebar #subject-list li:hover {
    font-weight: bolder;
    background-color: #8b016a;
    color: #111;
}
.sidebar #subject-list li.active {
    font-weight: bolder;
    background-color: #8b016a;
    color: #111;
    border: 1px solid #fff;
}
@media (max-width: 1320px) {
    .sidebar h1,
    .sidebar hr,
    .sidebar #subject-list li .link-text{
        display: none;
    }
    .sidebar #subject-list li{
        height: 50px;
        border-radius: 15px;
    }
    .sidebar #subject-list li i{
        border-radius: 15px;
    }
}
.main{
    position: absolute;
    top: 110px;
    right: 0;
    width: 84.5%;
    height: 85%;
    background: #2a3064;
    text-align: center;
    text-align: left;
}
.main h1 {
    display: none;
    margin: 0 25%;
    margin-top: 20px;
}

.main h2 {
    margin-top: 20px;
    margin-left: 40px;
    color: #fff;
    text-decoration: underline;
}
@media (max-width: 1320px) {
    .main h1 {
        font-size:larger;
        display:block;
        color: #fff;
        text-align: center;
        text-shadow: 1px 2px #111;
        padding: 0 2px 0 2px;
        border: 1px solid #fff;
        background-color: #111;
    }
    .main h2 {
        margin: 20px 25% 0 25%;
        text-align: center;
        font-size: large;
    }
}
.styled-table {
    position: relative;
    width: 95%;
    margin: 0 auto;
    border-collapse: collapse;
    margin-top: 25px;
    font-size: 0.9em;
    font-family: sans-serif;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: thin solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}
.styled-table tbody tr:nth-of-type(odd) {
    background-color: #c7c7c7;
}

.styled-table tbody tr:last-of-type {
    border-bottom: thick solid #009879;
}
.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}
.styled-table tbody tr td .edit-btn {
    color: white;
    background-color: #4CAF50;
}
.styled-table tbody tr td .delete-btn {
    color: white;
    background-color: #ff3939;
}

input[name=cancel] {
    background-color: red;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[name=cancel]:hover {
    background-color: rgb(122, 0, 0);
}

button {
    border: none;
    color: white;
    padding: 5px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
}

@media (max-width: 1320px) {
    .styled-table {
        margin: 0 auto;
        margin-top: 15px;
    }
    .styled-table thead {
        display: none;
    }
    .styled-table, .styled-table tbody, .styled-table tr, .styled-table td {
        display: block;
        width: 80vw;
    }
    .styled-table td {
        text-align: right;
        padding-left: 50%;
        position: relative;
    }
    .styled-table td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-size: 15px;
        font-weight: bold;
        text-align: left;
    }
}
/* #edit-Form {
    display: flex;
    position: fixed; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4);
  } */
  /* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-top: -10px;
  }

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.modal-container {
    top: 200px;
    display: block;
    position: fixed;
    width: 75%;
    background: #fff;
    z-index: 10;
    border-radius: 5px;
    box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.2);
    padding: 25px;
    transform: scale(0);
    transition: 0.4s cubic-bezier(0.5, -0.31, 0.39, 1.39);
}
.modal-container .close .modal-close {
    position: relative;
    right: 10px;
    top: 10px;
    color: #ff0000;
    text-decoration: none;
}
.modal-container .modal-title {
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}
.modal-container .modal-body {
    font-size: 16px;
    opacity: 0.9;
}
.overlay {
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 9;
    opacity: 0;
    pointer-events: none;
    transition: 0.2s ease-in-out;
}