@import url(https://fonts.googleapis.com/css?family=Rancho&display=swap);
section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
section img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}
section img #star2 {
    bottom: -20;
}
#home_text {
    position: absolute;
    top: 30%;
    right: 10%;
    color: #fff;
    font-size: 7vw;
    white-space: nowrap;
    text-shadow: 0 10px 15px rgba(0, 0, 0, 0.25);
    font-family: 'Rancho', cursive;
}
.sec {
    position: relative;
    padding: 100px;
    background: #2a3064;
}
.sec h2 {
    font-size: 3em;
    color: #fff;
    margin-bottom: 10px;
}
.sec p {
    font-size: 1em;
    color: #fff;
    font-weight: 300;
}
@media (max-width: 800px) {
    .sec {
        padding: 20px;
    }
    .sec h2 {
        font-size: 1.5em;
    }
    #home_text {
        font-size: 15vw;
    }
    
}